<!DOCTYPE html>
<html lang="en">
<head>
    <title>Email Confirmation Mail</title>
</head>
<body>
    
    <p>Hello <%= name %></p>

    <p>Welcome to pictogram.</p>

    <p>We are happy to see you here, Thank you for choosing pictogram.</p>

    <p>Please click on following link for verify your email address.</p>

    <p>
        <a href="<%= link %>"><%= link %></a>
    </p>

    <p>Thank you.</p>

    <p style="margin: 0">Regards,</p>
    <p>Pictogram</p>

</body>
</html>